.ioc-left {
  background: url(img/goode.png) no-repeat -7px 0;
  display: inline-block;
  width: 7px;
  height: 14px; }

.ioc-right {
  background: url(img/goode.png) no-repeat 0 0;
  display: inline-block;
  width: 7px;
  height: 14px; }

.ioc-g-l-tp {
  background-image: url(img/3.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  vertical-align: middle; }

.ico-g-l-weix {
  background-position: 0 -1612px; }

.ico-g-l-qq {
  background-position: 0 -2652px; }

.ico-g-l-qqkj {
  background-position: 0 -52px; }

.ico-g-l-wb {
  background-position: 0 -104px; }

.ico-g-l-tp1 {
  background: url(img/2.png) no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  vertical-align: middle; }

.ico-g-l-sj {
  background-position: 1px 0; }

.ico-g-l-xx {
  background-position: -19px 0; }

.ico-g-l-db {
  background-position: -83px 0; }

.ico-g-r-rwm {
  background-position: -98px -21px; }

.ico-g-r-ling {
  background-position: -105px 1px; }

.ico-g-r-jt {
  background-position: -125px -27px;
  float: right;
  width: 11px;
  height: 9px;
  margin: 7px 0; }

.ico-g-r-xiaoxi {
  float: left;
  background: url("img/3a27190dcc921120eacf3b0a04c5e800_icon18.png") no-repeat left top;
  width: 15px;
  height: 14px;
  margin-right: 10px; }

.ico-g-xde-jt {
  display: block;
  background: url("img/2.png") -1px -22px no-repeat;
  width: 12px;
  height: 19px; }

.ico-g-xde-xx-tp {
  display: block;
  float: left;
  width: 140px;
  height: 22px;
  background: url("img/xxx.png") no-repeat scroll 0 0; }

.ico-g-xde-xx-5 {
  background-position: 0 -100px; }

#header {
  background: #fff;
  border-bottom: 2px solid #C80F1E; }
  #header .header-l h1 {
    width: 130px;
    height: 100px; }
    #header .header-l h1 a img {
      vertical-align: baseline; }
  #header .header-l > div ul div dl ul {
    height: 477px;
    top: 1px;
    border: 1px solid #C80F1E; }

#main .cont > p {
  height: 40px;
  line-height: 40px; }

#main .cont .div01 {
  margin-bottom: 30px; }
  #main .cont .div01 .tp {
    width: 450px;
    height: 500px; }
    #main .cont .div01 .tp .tp {
      width: 400px;
      height: 400px;
      border: 1px solid #ccc;
      margin-bottom: 10px; }
      #main .cont .div01 .tp .tp img {
        width: 100%;
        height: 100%; }
    #main .cont .div01 .tp .b {
      position: relative; }
      #main .cont .div01 .tp .b .list {
        margin-left: 30px;
        width: 370px; }
        #main .cont .div01 .tp .b .list a {
          border: 1px solid #ccc;
          display: inline-block;
          width: 72px;
          height: 72px;
          margin-right: 10px; }
          #main .cont .div01 .tp .b .list a img {
            width: 100%;
            height: 100%; }
        #main .cont .div01 .tp .b .list .activate {
          border: 1px solid #C80F1E; }
      #main .cont .div01 .tp .b .left {
        position: absolute;
        width: 30px;
        height: 75px;
        top: 0;
        right: 0;
        display: block;
        line-height: 70px; }
      #main .cont .div01 .tp .b .right {
        position: absolute;
        width: 30px;
        height: 75px;
        top: 0;
        left: 0;
        display: block;
        line-height: 70px; }
    #main .cont .div01 .tp > p {
      line-height: 18px;
      padding: 10px; }
      #main .cont .div01 .tp > p a {
        margin: 2px;
        float: left; }
  #main .cont .div01 .cs {
    width: 750px; }
    #main .cont .div01 .cs h4 i {
      line-height: 22px;
      font-size: 16px;
      font-weight: bold;
      color: #666; }
    #main .cont .div01 .cs h4 span a {
      float: left;
      margin: 0 10px; }
    #main .cont .div01 .cs .red {
      color: #C80F1E;
      font-family: arial; }
    #main .cont .div01 .cs .shop-price {
      color: #9c9c9c;
      background: #f7f7f7;
      height: 44px;
      padding: 5px 0;
      line-height: 44px; }
      #main .cont .div01 .cs .shop-price em {
        font-size: 21px;
        color: #C80F1E;
        font-weight: bold;
        font-family: arial; }
      #main .cont .div01 .cs .shop-price span {
        display: inline-block;
        vertical-align: middle;
        float: right;
        width: 70px;
        line-height: 20px;
        text-align: center;
        border-right: 1px solid #ccc; }
        #main .cont .div01 .cs .shop-price span a {
          margin: 0 10px; }
        #main .cont .div01 .cs .shop-price span u {
          color: #333;
          text-decoration: none; }
      #main .cont .div01 .cs .shop-price span:first-of-type {
        border: 0; }
    #main .cont .div01 .cs p {
      font-size: 12px;
      line-height: 20px;
      margin: 5px 0; }
    #main .cont .div01 .cs div {
      color: #666; }
      #main .cont .div01 .cs div .activate {
        border: 1px solid #C80F1E;
        color: #C80F1E; }
        #main .cont .div01 .cs div .activate a {
          color: #C80F1E; }
      #main .cont .div01 .cs div dl {
        line-height: 24px;
        margin: 10px 0;
        font-size: 12px; }
        #main .cont .div01 .cs div dl dt {
          width: 60px;
          display: inline-block; }
        #main .cont .div01 .cs div dl a {
          text-decoration: none;
          color: #666; }
          #main .cont .div01 .cs div dl a dd {
            display: inline-block;
            padding: 0 5px;
            padding-right: 6px;
            border: 1px solid #ccc;
            line-height: 30px;
            margin-right: 10px; }
            #main .cont .div01 .cs div dl a dd img {
              width: 34px;
              height: 34px;
              vertical-align: middle; }
          #main .cont .div01 .cs div dl a dd:hover {
            border: 1px solid #C80F1E; }
      #main .cont .div01 .cs div .ji {
        border-top: dotted 1px #dfdfdf;
        padding: 10px 0;
        margin: 0; }
        #main .cont .div01 .cs div .ji dt {
          float: left; }
        #main .cont .div01 .cs div .ji dd {
          width: 540px;
          float: left; }
          #main .cont .div01 .cs div .ji dd span {
            margin: 0 5px;
            display: inline-block;
            margin-bottom: 10px;
            padding: 0 5px;
            line-height: 20px;
            border: 1px solid #ccc;
            position: relative; }
            #main .cont .div01 .cs div .ji dd span img {
              margin: 2px 2px 0 0;
              height: 16px;
              width: 16px;
              display: block;
              float: left; }
            #main .cont .div01 .cs div .ji dd span ul {
              display: none;
              border: 1px solid #999;
              width: 100%;
              position: absolute;
              background: #fff;
              left: -1px;
              top: 100%; }
              #main .cont .div01 .cs div .ji dd span ul li:hover a {
                color: #C80F1E; }
          #main .cont .div01 .cs div .ji dd span:hover {
            border: 1px solid #C80F1E; }
            #main .cont .div01 .cs div .ji dd span:hover ul {
              display: block; }
            #main .cont .div01 .cs div .ji dd span:hover > a {
              color: #C80F1E; }
          #main .cont .div01 .cs div .ji dd i {
            font-weight: bold; }
    #main .cont .div01 .cs .js {
      margin-left: 60px;
      line-height: 30px; }
      #main .cont .div01 .cs .js i {
        color: #999; }
      #main .cont .div01 .cs .js a {
        color: #7597dc; }
    #main .cont .div01 .cs .btn {
      width: 100%;
      margin-left: 60px; }
      #main .cont .div01 .cs .btn button {
        padding: 0 20px;
        height: 45px;
        font-size: 16px;
        background: #fff;
        color: #666;
        font-weight: bold;
        border: 1px solid #666;
        margin-right: 20px; }
      #main .cont .div01 .cs .btn .jrgwc {
        background: #C80F1E;
        color: #fff;
        border: 1px solid #C80F1E; }
      #main .cont .div01 .cs .btn .qtbtn:hover {
        color: #C80F1E;
        border: 1px solid #C80F1E; }

#main .cont .taochan {
  border: 1px solid #ccc; }
  #main .cont .taochan div {
    float: left; }
    #main .cont .taochan div dl {
      width: 170px;
      padding-bottom: 30px; }
      #main .cont .taochan div dl dt {
        background: #f7f7f7;
        border-bottom: 1px solid #505050;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        text-align: left;
        font-size: 14px; }
        #main .cont .taochan div dl dt a {
          display: inline-block;
          padding: 0 10px;
          color: #333;
          text-decoration: none; }
        #main .cont .taochan div dl dt .activate {
          background: #505050;
          color: #fff; }
      #main .cont .taochan div dl dd {
        padding: 20px 10px;
        float: left; }
        #main .cont .taochan div dl dd img {
          width: 160px;
          height: 160px; }
  #main .cont .taochan .left dl {
    text-align: center; }
    #main .cont .taochan .left dl dt {
      width: 170px; }
  #main .cont .taochan .con dl {
    width: 832px; }
    #main .cont .taochan .con dl div {
      width: 100%; }
      #main .cont .taochan .con dl div dd {
        width: 115px;
        float: left; }
        #main .cont .taochan .con dl div dd img {
          width: 120px;
          height: 120px;
          display: block; }
        #main .cont .taochan .con dl div dd label {
          display: block;
          color: #C80F1E;
          font-size: 16px;
          font-weight: bold; }
  #main .cont .taochan .right dl dt {
    width: 166px; }
  #main .cont .taochan .right dl dd h4 {
    font-size: 14px;
    font-weight: bold;
    color: #c80f1e;
    line-height: 60px;
    padding-left: 24px;
    background: url(img/120.png) no-repeat left center; }
  #main .cont .taochan .right dl dd p {
    color: #666;
    margin-top: 8px; }
    #main .cont .taochan .right dl dd p i {
      color: #C80F1E;
      font-weight: bold;
      font-size: 16px; }
  #main .cont .taochan .right dl dd p:nth-of-type(1) {
    font-weight: bold; }
    #main .cont .taochan .right dl dd p:nth-of-type(1) em {
      color: #C80F1E;
      margin: 0 3px; }
    #main .cont .taochan .right dl dd p:nth-of-type(1) a {
      color: #00bcd4; }
  #main .cont .taochan .right dl dd button {
    padding: 8px 20px;
    margin-top: 40px; }

#main .cont .div02 > .left {
  float: left;
  width: 220px;
  padding-top: 10px; }
  #main .cont .div02 > .left > div {
    border: 1px solid #dfdfdf;
    margin-bottom: 10px; }
    #main .cont .div02 > .left > div strong {
      color: #C80F1E;
      font-weight: bold; }
    #main .cont .div02 > .left > div h3 {
      height: 48px;
      background: url(img/130.png) no-repeat center bottom;
      line-height: 40px;
      padding-left: 9px;
      font-size: 14px; }
    #main .cont .div02 > .left > div ul {
      display: block;
      background: #fff;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden; }
      #main .cont .div02 > .left > div ul li {
        line-height: 28px;
        padding-left: 15px;
        width: 85px;
        float: left; }
  #main .cont .div02 > .left .qt ul li {
    border-bottom: 1px dashed #e8e8e8;
    float: none;
    height: 40px;
    padding: 5px 0;
    margin: 0 5px;
    width: auto; }
    #main .cont .div02 > .left .qt ul li a {
      display: block;
      height: 40px;
      color: #333;
      text-decoration: none; }
      #main .cont .div02 > .left .qt ul li a span {
        display: block;
        float: left;
        height: 40px;
        line-height: 40px; }
      #main .cont .div02 > .left .qt ul li a img {
        display: block;
        float: left;
        height: 40px;
        padding: 0 20px;
        width: 93px; }
  #main .cont .div02 > .left .phb > div {
    border-bottom: 1px solid #dfdfdf;
    height: 24px;
    height: 24px;
    line-height: 24px;
    margin: 5px;
    text-align: center; }
    #main .cont .div02 > .left .phb > div span {
      display: inline-block;
      width: 66px;
      cursor: pointer; }
      #main .cont .div02 > .left .phb > div span a {
        display: inline-block;
        height: 24px;
        text-decoration: none;
        width: 60px; }
      #main .cont .div02 > .left .phb > div span a:hover {
        background: #c80f1e;
        display: inline-block;
        width: 60px;
        color: #fff; }
  #main .cont .div02 > .left .phb > ul {
    padding: 0; }
    #main .cont .div02 > .left .phb > ul li {
      display: block;
      height: 70px;
      width: 198px;
      padding: 5px 10px;
      border-bottom: 1px solid #ebebeb;
      margin-top: 7px; }
      #main .cont .div02 > .left .phb > ul li > a {
        float: left; }
      #main .cont .div02 > .left .phb > ul li h6 {
        line-height: 18px;
        padding-top: 7px;
        height: 38px;
        overflow: hidden;
        margin: 0;
        margin-left: 75px; }
      #main .cont .div02 > .left .phb > ul li p {
        color: #999;
        margin-left: 75px; }
  #main .cont .div02 > .left .zz ul li {
    width: 188px;
    margin: 0;
    display: block;
    border-bottom: 1px dashed #dfdfdf;
    padding: 10px 15px; }
    #main .cont .div02 > .left .zz ul li a {
      display: block;
      border: 0;
      text-align: center;
      font-weight: normal; }
    #main .cont .div02 > .left .zz ul li h4 {
      line-height: 20px;
      height: 40px;
      overflow: hidden; }
      #main .cont .div02 > .left .zz ul li h4 a {
        text-align: left;
        display: block; }
    #main .cont .div02 > .left .zz ul li p {
      color: #999;
      line-height: 30px;
      height: 30px; }
      #main .cont .div02 > .left .zz ul li p strong {
        color: #c80f1e;
        font-size: 16px; }
    #main .cont .div02 > .left .zz ul li span {
      color: #fff;
      background: #c80f1e;
      padding: 2px 5px; }

#main .cont .div02 > .right {
  float: left; }
  #main .cont .div02 > .right > dl {
    margin-top: 10px;
    margin-left: 10px;
    width: 968px; }
    #main .cont .div02 > .right > dl dt {
      height: 40px;
      background: #f7f7f7;
      z-index: 9;
      position: static;
      border: solid 1px #dbdbdb;
      top: 1214px; }
      #main .cont .div02 > .right > dl dt span {
        float: left;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        cursor: pointer; }
        #main .cont .div02 > .right > dl dt span a {
          padding: 0 15px;
          text-decoration: none;
          line-height: 40px;
          display: block; }
      #main .cont .div02 > .right > dl dt > span:hover a {
        color: #C80F1E; }
      #main .cont .div02 > .right > dl dt .activate {
        background: #fff;
        border: 1px solid #dbdbdb;
        border-bottom: 0px;
        border-top: 2px  solid #505050;
        height: 40px;
        margin-top: -1px;
        margin-left: -1px; }
    #main .cont .div02 > .right > dl > div {
      border: 1px solid #dbdbdb; }
      #main .cont .div02 > .right > dl > div dd {
        border-top: 0;
        border-bottom: 0;
        border-top: 0px;
        padding: 20px 10px; }
    #main .cont .div02 > .right > dl .cs .canshu ul {
      padding: 10px;
      margin: 0 10px;
      background: #F7F7F7;
      border: 1px solid #dfdfdf; }
      #main .cont .div02 > .right > dl .cs .canshu ul li {
        line-height: 25px;
        display: block;
        height: 25px;
        float: left;
        width: 295px;
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    #main .cont .div02 > .right > dl .cs .jieshao ul {
      text-align: center; }
    #main .cont .div02 > .right > dl .xxcs {
      border-top: 0; }
      #main .cont .div02 > .right > dl .xxcs table {
        border-collapse: collapse; }
        #main .cont .div02 > .right > dl .xxcs table tbody {
          text-align: center; }
          #main .cont .div02 > .right > dl .xxcs table tbody caption {
            height: 44px;
            background: #eee;
            text-align: center;
            line-height: 44px;
            font-size: 16px;
            font-weight: bold;
            color: #333; }
          #main .cont .div02 > .right > dl .xxcs table tbody tr {
            height: 40px;
            border-bottom: dotted 1px #dfdfdf; }
  #main .cont .div02 > .right .syxd {
    margin-top: 10px; }
    #main .cont .div02 > .right .syxd .top {
      margin-left: 10px;
      border: solid 1px #dfdfdf;
      border-top: solid 2px #c80f1e; }
      #main .cont .div02 > .right .syxd .top .bt {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: #7597dc;
        padding-left: 10px;
        margin-top: 10px; }
      #main .cont .div02 > .right .syxd .top > div {
        display: block;
        float: left;
        width: 259px;
        border-right: 1px solid #e3e3e3;
        padding-left: 15px;
        height: 140px; }
      #main .cont .div02 > .right .syxd .top .left {
        padding-top: 0; }
        #main .cont .div02 > .right .syxd .top .left h4 strong {
          font-size: 24px;
          font-family: Arial, Helvetica, sans-serif;
          color: #ff6600; }
        #main .cont .div02 > .right .syxd .top .left > div {
          border: 0;
          height: 12px;
          line-height: 12px;
          width: 250px;
          display: block;
          margin-top: 10px; }
          #main .cont .div02 > .right .syxd .top .left > div i {
            display: block;
            height: 12px;
            width: 40px;
            float: left;
            font-size: 12px;
            color: #999; }
          #main .cont .div02 > .right .syxd .top .left > div span {
            float: left;
            width: 140px;
            height: 10px;
            border: 1px solid #c80f1e;
            margin-right: 5px;
            display: inline; }
            #main .cont .div02 > .right .syxd .top .left > div span p {
              width: 128px;
              height: 10px;
              background: #c80f1e; }
      #main .cont .div02 > .right .syxd .top .con {
        width: 495px; }
        #main .cont .div02 > .right .syxd .top .con span {
          display: block;
          float: left;
          width: 42px;
          padding-top: 35px; }
        #main .cont .div02 > .right .syxd .top .con ul {
          float: left;
          padding-top: 31px; }
          #main .cont .div02 > .right .syxd .top .con ul li {
            float: left;
            height: 22px;
            line-height: 22px;
            color: #fff;
            background: #7597dc;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 0 8px;
            border-radius: 3px; }
      #main .cont .div02 > .right .syxd .top .right {
        width: 155px;
        border: 0; }
        #main .cont .div02 > .right .syxd .top .right p {
          margin-top: 10px;
          height: 30px;
          line-height: 30px;
          text-align: center; }
        #main .cont .div02 > .right .syxd .top .right div {
          width: 125px;
          height: 29px;
          background: #7597dc;
          margin: 0 auto;
          text-align: center;
          line-height: 29px;
          border-radius: 3px;
          margin-top: 10px; }
          #main .cont .div02 > .right .syxd .top .right div a {
            color: #fff;
            font-weight: bold; }
    #main .cont .div02 > .right .syxd .con-tb {
      margin-left: 10px;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      display: block;
      border: solid 1px #dfdfdf;
      background: #f7f7f7; }
      #main .cont .div02 > .right .syxd .con-tb a {
        display: block;
        float: left;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 10px; }
      #main .cont .div02 > .right .syxd .con-tb .activate {
        color: #C80F1E;
        font-weight: bold; }
    #main .cont .div02 > .right .syxd .bottom {
      margin-left: 10px;
      margin-top: 20px; }
      #main .cont .div02 > .right .syxd .bottom ul > li {
        overflow: hidden;
        margin-top: 20px; }
        #main .cont .div02 > .right .syxd .bottom ul > li > div {
          float: left; }
        #main .cont .div02 > .right .syxd .bottom ul > li .left {
          width: 100px;
          text-align: center; }
          #main .cont .div02 > .right .syxd .bottom ul > li .left a img {
            width: 54px;
            height: 54px; }
        #main .cont .div02 > .right .syxd .bottom ul > li .right {
          width: 835px;
          background-color: #F8F9FF;
          border: 2px solid #E0E3F4;
          padding: 10px;
          position: relative; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right .ico-g-xde-jt {
            position: absolute;
            top: 30px;
            left: -10px; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right p {
            height: 22px;
            padding-bottom: 8px;
            border-bottom: 1px solid #dfdfdf;
            margin-bottom: 10px; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right dl {
            overflow: hidden; }
            #main .cont .div02 > .right .syxd .bottom ul > li .right dl dt {
              width: 60px;
              color: #999;
              float: left;
              text-align: right; }
            #main .cont .div02 > .right .syxd .bottom ul > li .right dl dd {
              float: left; }
              #main .cont .div02 > .right .syxd .bottom ul > li .right dl dd img {
                width: 50px;
                height: 50px;
                float: left;
                padding: 2px;
                border: 2px solid #f2f2f2;
                margin-right: 10px; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right .btn-p {
            border: 0;
            padding-left: 660px; }
            #main .cont .div02 > .right .syxd .bottom ul > li .right .btn-p a {
              padding: 5px 10px;
              background-color: #f7f7f7;
              border: 1px solid #ddd;
              border-radius: 3px;
              margin-right: 10px; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right ul li i {
            float: left;
            display: block;
            width: 90px;
            padding-right: 10px;
            text-align: right;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            color: #BEBEBE; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right ul li p {
            border: 0;
            padding: 0;
            margin: 0; }
            #main .cont .div02 > .right .syxd .bottom ul > li .right ul li p a {
              color: #39f; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right ul li .date {
            color: #999; }
            #main .cont .div02 > .right .syxd .bottom ul > li .right ul li .date a {
              display: none;
              float: right;
              color: #39f;
              margin-right: 100px; }
          #main .cont .div02 > .right .syxd .bottom ul > li .right ul li:hover .date a {
            display: block; }
    #main .cont .div02 > .right .syxd .page {
      padding: 20px; }
      #main .cont .div02 > .right .syxd .page span {
        float: right; }
        #main .cont .div02 > .right .syxd .page span a {
          padding: 5px;
          border: 1px solid #ccc;
          text-decoration: none; }
        #main .cont .div02 > .right .syxd .page span .activate {
          border: 1px solid #C80F1E;
          background: #C80F1E;
          color: #fff; }
        #main .cont .div02 > .right .syxd .page span a:hover {
          border: 1px solid #C80F1E;
          background: #C80F1E;
          color: #fff; }
  #main .cont .div02 > .right .spzx {
    margin-top: 10px; }
    #main .cont .div02 > .right .spzx .top {
      margin-left: 10px;
      border: solid 1px #dfdfdf;
      border-top: solid 2px #c80f1e; }
      #main .cont .div02 > .right .spzx .top > p {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: #7597dc;
        padding-left: 10px;
        margin-top: 10px; }
      #main .cont .div02 > .right .spzx .top > div {
        display: block;
        float: left;
        width: 259px;
        border-right: 1px solid #e3e3e3;
        padding-left: 15px;
        height: 140px; }
      #main .cont .div02 > .right .spzx .top .left {
        padding-top: 0;
        width: 456px; }
        #main .cont .div02 > .right .spzx .top .left p {
          line-height: 24px;
          margin-bottom: 10px; }
          #main .cont .div02 > .right .spzx .top .left p input {
            width: 200px;
            border: solid 1px #dfdfdf;
            height: 24px;
            padding: 0 5px;
            border-radius: 3px;
            margin-right: 5px; }
          #main .cont .div02 > .right .spzx .top .left p span {
            width: 59px;
            height: 24px;
            background: #c80f1e;
            color: #fff;
            display: inline-block;
            text-align: center;
            margin-top: 0px;
            margin-right: 0px;
            border: none;
            height: 26px;
            padding: 0 5px;
            border-radius: 3px; }
          #main .cont .div02 > .right .spzx .top .left p .wyzx {
            display: inline-block;
            border-radius: 3px;
            width: 90px;
            height: 25px;
            background: #7597dc;
            color: #fff;
            text-align: center;
            line-height: 25px;
            margin-right: 10px; }
      #main .cont .div02 > .right .spzx .top .con {
        width: 470px;
        border: 0;
        line-height: 20px;
        font-size: 12px;
        color: #999; }
        #main .cont .div02 > .right .spzx .top .con p a {
          color: #C80F1E; }
    #main .cont .div02 > .right .spzx .con-tb {
      margin-left: 10px;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      display: block;
      border: solid 1px #dfdfdf;
      background: #f7f7f7; }
      #main .cont .div02 > .right .spzx .con-tb a {
        display: block;
        float: left;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 10px; }
      #main .cont .div02 > .right .spzx .con-tb .activate {
        color: #C80F1E;
        font-weight: bold; }
    #main .cont .div02 > .right .spzx .bottom {
      margin-left: 10px;
      margin-top: 20px; }
      #main .cont .div02 > .right .spzx .bottom ul > li {
        overflow: hidden;
        margin-top: 20px;
        border-bottom: 1px dashed #ccc; }
        #main .cont .div02 > .right .spzx .bottom ul > li > div {
          float: left; }
        #main .cont .div02 > .right .spzx .bottom ul > li .left {
          width: 80px;
          text-align: center; }
          #main .cont .div02 > .right .spzx .bottom ul > li .left a img {
            padding: 5px;
            border: 1px solid #ccc;
            width: 44px;
            height: 44px; }
        #main .cont .div02 > .right .spzx .bottom ul > li .right {
          width: 835px;
          padding: 0 10px;
          position: relative; }
          #main .cont .div02 > .right .spzx .bottom ul > li .right dl {
            overflow: hidden;
            text-align: left; }
            #main .cont .div02 > .right .spzx .bottom ul > li .right dl dt {
              color: #999;
              width: 790px;
              float: left;
              padding: 5px; }
              #main .cont .div02 > .right .spzx .bottom ul > li .right dl dt a {
                color: #39f; }
              #main .cont .div02 > .right .spzx .bottom ul > li .right dl dt .ur {
                color: #0048a3;
                font-weight: bold; }
              #main .cont .div02 > .right .spzx .bottom ul > li .right dl dt span {
                float: right; }
            #main .cont .div02 > .right .spzx .bottom ul > li .right dl dd {
              width: 810px;
              margin: 5px 0;
              float: left; }
              #main .cont .div02 > .right .spzx .bottom ul > li .right dl dd em {
                color: #C80F1E; }
            #main .cont .div02 > .right .spzx .bottom ul > li .right dl .btn-p {
              float: left;
              width: 800px;
              padding: 5px;
              margin-bottom: 5px; }
              #main .cont .div02 > .right .spzx .bottom ul > li .right dl .btn-p a {
                display: block;
                width: 50px;
                height: 20px;
                border: 1px solid #ccc;
                text-align: center;
                text-decoration: none;
                line-height: 20px; }
      #main .cont .div02 > .right .spzx .bottom .page {
        padding: 20px; }
        #main .cont .div02 > .right .spzx .bottom .page span {
          float: right; }
          #main .cont .div02 > .right .spzx .bottom .page span a {
            padding: 5px;
            border: 1px solid #ccc;
            text-decoration: none; }
          #main .cont .div02 > .right .spzx .bottom .page span .activate {
            border: 1px solid #C80F1E;
            background: #C80F1E;
            color: #fff; }
          #main .cont .div02 > .right .spzx .bottom .page span a:hover {
            border: 1px solid #C80F1E;
            background: #C80F1E;
            color: #fff; }
